body { 
    background-color: #f4f4f4; 
    color: #540462;
}

pre, code {
  background-color: ghostwhite !important;
  color: black;
}

.info {
  background-color: #e7f3fe;
  color: #31708f;
  font-size: 16px;
  font-family: Arial, sans-serif;
}